include partials/_includes



+layout
  // Контент
  +b.content
    .tpl-block-layoutwidth

      +b.main--wide

        +sep

        // Хлебные крошки
        +b.breadcrumbs--steps
          +e.item: +link Магазин
          +e.item: +link Заказ
          +e.item: +link Адрес доставки
          +e.item: +link Варианты доставки
          +e.item: +link Варианты оплаты
          +e.item: +link.tpl-state-current Оплата
          +e.item: +link.tpl-state-disabled Радость обладания

        +sep('s')
        +b('fieldset').order
          +e('legend').title Заказ оформлен
          +e.hero.
            Ваш заказ оформлен!<br>
            Информация по доставке придет на почту<br>
            в течение 5 минут.

          +e.actions
            +blink('order-2.html').ibtn--theme_blue Вернуться к покупкам


      +b.clearfix






    +b.notformobile: +sep('xxl')




