include partials/_includes



+layout
  // Контент
  +b.content
    .tpl-block-layoutwidth

      +b('aside').aside
        include partials/asideMenu
      +b.main
        +b.rubric
          include partials/alphabet
          +sep('s')
          +e.title#A A
          +e.row
            +e.item: +link A67th
            +e.item: +link Aardvark
            +e.item: +link Abbacino
            +e.item: +link Abchic
            +e.item: +link Abro
            +e.item: +link ABtoys
            +e.item: +link Acasta
            +e.item: +link Accent
            +e.item: +link Achti
            +e.item: +link AHAVA
            +e.item: +link AirBac
            +e.item: +link AJ Morgan
            +e.item: +link AJC
            +e.item: +link Al Franco
            +e.item: +link Alaska Originale
            +e.item: +link Alba
            +e.item: +link ALBA MODA
            +e.item: +link Albano
            +e.item: +link Analog
            +e.item: +link Anco
            +e.item: +link Android
            +e.item: +link Andy Tailor
            +e.item: +link Andy WaWa
            +e.item: +link Angel Collection
            +e.item: +link Angel Dear
            +e.item: +link ANGEL`S FRIENDS
          +sep('s')
          +e.title#B B
          +e.row
            +e.item: +link A67th
            +e.item: +link Aardvark
            +e.item: +link Abbacino
            +e.item: +link Abchic
            +e.item: +link Abro
            +e.item: +link ABtoys
            +e.item: +link Acasta
            +e.item: +link Accent
            +e.item: +link Achti
            +e.item: +link AHAVA
            +e.item: +link AirBac
            +e.item: +link AJ Morgan
            +e.item: +link AJC
            +e.item: +link Al Franco
            +e.item: +link Alaska Originale
            +e.item: +link Alba
            +e.item: +link ALBA MODA
            +e.item: +link Albano
            +e.item: +link Analog




      +b.clearfix

      +sep('xs')







    +b.notformobile: +sep('xxl')




