<? $dev_mode = "?nocache=".time(); ?>
<link href="<?=$sMisc?>css/base5.css<?=$dev_mode?>" rel="stylesheet">
<link href="<?=$sMisc?>css/style.css<?=$dev_mode?>" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.confirmon.css<?=$dev_mode?>"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.qtip.min.css<?=$dev_mode?>"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/magnific-popup.css<?=$dev_mode?>"/>   
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/clndr.css<?=$dev_mode?>"/>
<link href="<?=$sMisc?>css/adaptive.css<?=$dev_mode?>" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.blockUI.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.confirmon.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.qtip.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/imagesloaded.pkgd.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.magnific-popup.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/velocity.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.maskedinput.min.js<?=$dev_mode?>"></script>
    
<script type="text/javascript" src="<?=$sMisc?>js/moment.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/underscore-min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/js.cookie.js<?=$dev_mode?>"></script>
    
<script type="text/javascript" src="<?=$sMisc?>js/app_iframe.js<?=$dev_mode?>"></script>

<div class='iframe approve'>
<div style='padding:20px'>
<!-- <span class='close confirm' id='close_iframe' title='Закрыть'>x</span> -->



