<!-- Header --><link href="<?=$sMisc?>css/base5.css" rel="stylesheet">
<link href="<?=$sMisc?>css/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.confirmon.css"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.qtip.min.css"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/magnific-popup.css"/>   
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/clndr.css"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.blockUI.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.confirmon.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/velocity.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.maskedinput.min.js"></script>
    
<script type="text/javascript" src="<?=$sMisc?>js/moment.min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/underscore-min.js"></script>
<script type="text/javascript" src="<?=$sMisc?>js/js.cookie.js"></script>
    
<script type="text/javascript" src="<?=$sMisc?>js/app_iframe.js"></script>

<div class='iframe'>
<div style='padding:20px'>
<span class='close confirm' id='close_iframe' title='Закрыть'>x</span>



<!-- /Header -->

<!-- Footer --></div>
</div><!-- /Footer -->