.tpl-block-cardactions
  display: inline-block
  &-item
    margin-left: 22px
    color: colorBase
    cursor: pointer
    // line-height: 20px
    line-height: 1
    transition: color 0.2s
    &:first-child
      margin-left: 0
    &:hover
      color: colorRed
  &-image
    display: inline-block
    margin-right: 12px
  &-title
    overflow: hidden
    display: inline-block
    border-bottom: 1px dashed

