
// Список
cardCart()
  padding: 65px 0 0 215px
  height: 170px
  .tpl-field-title
    display: block
    width: 390px
    font-size: 18px
    margin-bottom: -15px
    @media max
      width: 430px
  .tpl-field-image
    display: block
    position: absolute
    width: 165px
    left: 0
    top: 0
    height: 170px
    line-height: 170px
    text-align: center
  .tpl-block-rating
    display: block
    position: absolute
    left: 215px
    top: 10px
    font-size: 16px
  .tpl-field-cost
    display: block
    position: absolute
    right: 95px
    top: 58px
    line-height: 1.2
    font-size: 32px
    text-align: left
    font-weight: 400
    width: 135px
    @media max
      left: 1090px
  .tpl-block-variants
    display: block
    position: absolute
    left: 340px
    top: 13px
    line-height: 30px
  .tpl-block-cardbox-amount
    display: block
    position: absolute
    left: 640px
    top: 58px
    @media max
     left: 690px
  .tpl-block-cardbox-remove
    display: inline-block
    position: absolute
    right: 0
    top: 53px
    font-size: 22px
    color: colorDull
    &:hover
      color: colorRed
  .tpl-field-category
    display: inline-block
    position: static
    font-size: 12px
    font-weight: 400



  .tpl-block-cardbox-link
    display: block
    text-decoration: none
    color: colorBase
    &:hover
      color: colorBase
      .tpl-field-title
        color: colorRed

