.tpl-block-headercontact
  display: block
  height: 80px
  .tpl-field-title
    display: block
    font-size: 24px
    line-height: 40px
    @media screen and (min-width: 321px) and (max-width: 1185px)
      font-size: 22px
    @media screen and (min-width: 321px) and (max-width: 1100px)
      font-size: 20px
  .tpl-field-description
    display: block
    color: colorGray
    font-style: italic
    line-height: 15px