.tpl-block-mobileuser
  padding: 55px 50px 0
  font-size: 27px
  .tpl-block-itext
    background: colorWhite
    @media min
      border: none
      &:focus
        box-shadow: 0 0 5px rgba(colorBase, 0.3)
  .tpl-block-ibtn
    position: absolute
    right: 0
    top: 0
    width: 160px
    background: #FF3E48
  &-row
    margin-bottom: 55px
    position: relative