.tpl-block-prevnext
  &-button
    cursor: pointer
    display: block
    width: 30px
    height: 30px
    color: colorDull
    border: 5px solid colorDull
    transition: color 0.2s, border 0.2s, opacity 0.2s
    margin-left: 10px
    float: left
    line-height: 16px
    text-align: center
    font-size: 15px
    user-select: none
    &:first-child
      margin-left: 0
    &:hover
      color: colorBlue
      border-color: colorBlue
    &.tpl-state-disabled
      opacity: 0.3
      pointer-events: none
      color: colorDull
      border-color: colorDull
      cursor: default
  &--red &-button:hover
    color: colorRed
    border-color: colorRed
  &--black &-button
    width: 40px
    height: 40px
    color: colorWhite
    background: black
    border: none
    margin: 0
    font-size: 25px
    line-height: 35px
    &:hover
      background: colorBlue
