.tpl-block-rubric
  &-row
    clearfix()
    margin-right: -20px
  &-item
    float: left
    width: 33.333%
    margin: 15px 0 0 0
    padding-right: 20px
    font-size: 18px
    overflow: hidden
    a
      display: block
      line-height: 1.2
      text-decoration: none
      color: colorBase
      &:hover
        color: colorRed
  &-title
    color: colorRed
    font-weight: 500
    font-size: 18px
    border-bottom: 1px solid #C6CBCE
