.tpl-block-authpopup
  border: 5px solid colorBlue
  padding: 40px 135px 50px !important
  // background: #EAEFF2 !important
  width: 540px !important
  position: relative
  p
    margin-bottom: 20px
  &-title
    font-size: 30px
    font-weight: 600
    text-align: center
    margin-bottom: 1em
  &-actions
    text-align: center
    font-size: 16px
    margin-top: 40px
