.tpl-block-socialbuttons
  &-item
    display: inline-block
    margin-left:  11px
    &:first-child
      margin-left: 0
    a
      background: #EAEFF2
      text-decoration: none
      color: colorBase
      display: block
    i
      height: 28px
      width: 28px
      text-align: center
      line-height: 28px
      display: inline-block
      opacity: 0.2
      transition: opacity 0.2s
      backface-visibility: hidden
    a:hover i
      opacity: 0.5