<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <? /* Блок SEO */ ?>
    <? /* Запрос заголовка через ядро системы, если нету, то выводим хлебные крошки */ ?>
    <title><?= (($title = $nc_core->page->get_title()) ? $title : strip_tags(s_browse_path($browse_path_title))) ?></title>

    <? /* Запрос description через ядро системы */ ?>
    <?= (($description = $nc_core->page->get_description()) ? "<meta name='description' content='" . $description . "'>" : "") ?>
    <? /* Запрос Keywords через ядро системы */ ?>
    <?= (($keywords = $nc_core->page->get_keywords()) ? "<meta name='Keywords' content='" . $keywords . "'>" : "") ?>
    <meta name="MobileOptimized" content="640">
    <meta name="HandheldFriendly" content="true">
    <!--meta name="viewport" content="width=700, target-densitydpi=device-dpi, initial-scale=1"-->
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=<?= $nc_core->NC_CHARSET ?>"/>
    <link href="<?= $nc_parent_template_folder_path ?>assets/css/styles.css" rel="stylesheet">
    <link href="<?= $nc_parent_template_folder_path ?>assets/css/custom.css" rel="stylesheet">
    <script src="<?= $nc_parent_template_folder_path ?>assets/js/jquery.js"></script>
</head>


<body>
<!-- Шапка-->
<header class="tpl-block-header">
<!-- Мобильная навигация-->
<div class="tpl-block-mobilenav">
    <div class="tpl-block-mobilenav-item tpl-block-mobilenav-item--logo">
        <a href="<?= $nc_core->SUB_FOLDER; ?>/"><i class="icon-mobilenav-logo"></i></a>
    </div>
    <div class="tpl-block-mobilenav-item tpl-block-mobilenav-item--user"><a href="#"><i class="icon-mobilenav-user"></i></a>
    </div>
    <div class="tpl-block-mobilenav-item tpl-block-mobilenav-item--cart"><a href="#"><i class="icon-mobilenav-cart"></i>
            <div class="tpl-block-mobilenav-counter"><?= $netshop->cart->get_item_count(true); ?>
            </div>
        </a>
    </div>
    <div class="tpl-block-mobilenav-item tpl-block-mobilenav-item--search">
        <a href="#"><i class="icon-mobilenav-search"></i></a>
    </div>
    <div class="tpl-block-mobilenav-item tpl-block-mobilenav-item--menu"><a href="#"><i class="icon-mobilenav-menu"></i></a>
    </div>
</div>
<div class="tpl-block-headerdrop tpl-block-headerdrop--user">
</div>
<!-- Мобильный вход-->
<div class="tpl-block-headerdrop tpl-block-headerdrop--user">
    <? if (!empty($current_user)): ?>
        <div class="tpl-block-mobileuser">
            <div class="tpl-block-mobileuser-row">
                <a href="<?= $nc_core->SUB_FOLDER; ?>/menu/"><?= $current_user['ForumName'] ?></a>
                    <a class="tpl-block-ibtn tpl-block-ibtn--theme_red" href='/netcat/modules/auth/?logoff=1&amp;REQUESTED_FROM=<?= $REQUEST_URI ?>&amp;REQUESTED_BY=<?= $REQUEST_METHOD ?>'>Выйти</a>
            </div>
        </div>
    <? else: ?>
        <form class="tpl-block-mobileuser" action="<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>modules/auth/index.php" method="post">
            <div class="tpl-block-mobileuser-row">
                <input name="AUTH_USER" type="text" placeholder="<?= NETCAT_MODULE_AUTH_LOGIN ?>" value='<?= htmlspecialchars($AUTH_USER, ENT_QUOTES) ?>' class="tpl-block-itext">
            </div>
            <div class="tpl-block-mobileuser-row">
                <input name="AUTH_PW" type="password" placeholder="<?= NETCAT_MODULE_AUTH_PASSWORD ?>" class="tpl-block-itext">
                <span class="tpl-block-ibtn tpl-block-ibtn--theme_red">Вход<input type="submit" class="tpl-block-ibtn-submit" value=""></span>
            </div>

            <input type='hidden' name='AuthPhase' value='1'/>
            <input type='hidden' name='REQUESTED_FROM' value='<?= htmlspecialchars($REQUESTED_FROM, ENT_QUOTES) ?>'/>
            <input type='hidden' name='REQUESTED_BY' value='<?= htmlspecialchars($REQUESTED_BY, ENT_QUOTES) ?>'/>
            <input type='hidden' name='catalogue' value='<?= $catalogue ?>'/>
            <input type='hidden' name='sub' value='<?= $sub ?>'/>
            <input type='hidden' name='cc' value='<?= $cc ?>'/>

            <div class="tpl-block-mobileuser-row">
                <a href="<?= $nc_core->SUB_FOLDER; ?>/menu/registration">Регистрация</a></div>
        </form>
    <? endif ?>
</div>
<?
$total_items = $netshop->cart->get_item_count(true);
?>
<!-- Мобильная корзина-->
<div class="tpl-block-headerdrop tpl-block-headerdrop--cart">
    <form class="tpl-block-mobilecart" method="post" action="<?= $netshop->get_add_to_cart_url(); ?>">
        <div class="tpl-block-mobilecart-info">
            <? if ($total_items) { ?>
                В корзине
                <span class="tpl-field-amount"><?= $total_items; ?> <?= plural_form($total_items, 'товар', 'товара', 'товаров'); ?></span>
                <br>на сумму
                <span class="tpl-field-summary"><?= $netshop->format_price($netshop->cart->get_totals()); ?></span>
            <? } else { ?>
                Корзина пуста
            <? } ?>
        </div>
        <? foreach ($netshop->cart->get_items() as $item) { ?>
            <div class="tpl-block-mobilecart-item">
                <div class="tpl-block-mobilecart-delete"><i class="icon-close">
                        <button class="tpl-block-ibtn-submit" type="submit" name="cart<?= $item['RowID'] ?>" value="0"></button>
                    </i></div>
                <div class="tpl-block-mobilecart-showimage"></div>
                <div class="tpl-field-title">
                    <?= $item['Vendor']; ?> <?= $item['Name']; ?>
                    <? if ($item['VariantName']) { ?>
                        <div class="tpl-field-variant-values"><?= $item['VariantName']; ?></div>
                    <? } ?>
                </div>
                <div class="tpl-field-description"><?= $item['Note']; ?></div>
                <div class="tpl-field-image"><img src="<?= $item['BigImage']; ?>"></div>
                <div class="tpl-field-cost"><?= $item['TotalPriceF']; ?></div>
            </div>
        <? } ?>
        <div class="tpl-block-cart-actions">
            <a class="tpl-block-ibtn tpl-block-ibtn--theme_red" href="<?= $nc_core->SUB_FOLDER; ?>/orders/add_orders.html">Оформить заказ</a>
        </div>
    </form>
</div>
<!-- Мобильный поиск-->
<div class="tpl-block-headerdrop tpl-block-headerdrop--search">
    <form class="tpl-block-mobilesearch" action="/search/">
        <input type="hidden" name="area" value="site<?=$catalogue ?>">
        <input type="text" name="search_query" class="tpl-block-itext" placeholder="поиск"><span class="tpl-block-ibtnimage"><i class="icon-angle-right"></i>
            <input type="submit" class="tpl-block-ibtnimage-submit" value=""></span>
    </form>
</div>
<!-- Мобильный каталог-->
<div class="tpl-block-headerdrop tpl-block-headerdrop--menu">
    <div class="tpl-block-mobilemenu">
        <div class="tpl-block-mobilemenu-category">
            <div class="tpl-block-mobilemenu-title">Каталог</div>
            <?= nc_browse_sub(370, $browse_top_menu_mobile); ?>
        </div>
    </div>
</div>
<div class="tpl-block-layoutwidth">
<div class="tpl-block-header-row tpl-block-header-top-navbar">
    <div class="tpl-block-header-col tpl-block-header-col--3">
        <!-- Что с заказом--><em><a href="<?= $nc_core->SUB_FOLDER; ?>/help/wheres-my-order/">Что с моим заказом?</a></em>
    </div>
    <div class="tpl-block-header-col tpl-block-header-col--4">
        <div class="tpl-block-headerauth">
            <? if (!empty($current_user)): ?>
                <div class="tpl-block-headerauth-item">
                    <a href="<?= $nc_core->SUB_FOLDER; ?>/menu/"><?= $current_user['ForumName'] ?></a>
                </div>
                <div class="tpl-block-headerauth-item">
                    <a href='/netcat/modules/auth/?logoff=1&amp;REQUESTED_FROM=<?= $REQUEST_URI ?>&amp;REQUESTED_BY=<?= $REQUEST_METHOD ?>'>Выйти</a>
                </div>
            <? else: ?>
                <div class="tpl-block-headerauth-item">
                    <a href="/netcat/modules/auth/index.php" data-mfp-src="#signin" class="tpl-link-modal">Вход</a>
                </div>
                <div class="tpl-block-headerauth-item">
                    <a href="/menu/registration/" data-mfp-src="#signup" class="tpl-link-modal">Регистрация</a>
                </div>

                <form class="tpl-block-authpopup tpl-block-mfp-hide tpl-block-popup" action="<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>modules/auth/index.php" id="signin" method="post">
                    <div class="tpl-block-authpopup-title">Авторизация</div>
                    <p>
                        <input name="AUTH_USER" type="text" placeholder="<?= NETCAT_MODULE_AUTH_LOGIN ?>" value='<?= htmlspecialchars($AUTH_USER, ENT_QUOTES) ?>' class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="AUTH_PW" type="password" placeholder="<?= NETCAT_MODULE_AUTH_PASSWORD ?>" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <? if ($ADMIN_AUTHTYPE == "manual" && $AUTHORIZATION_TYPE == "cookie") : ?>
                            <label><input type='checkbox' name='loginsave'/> <?= NETCAT_MODULE_AUTH_SAVE ?></label>
                        <? endif; ?>
                    </p>

                    <div class="tpl-block-authpopup-actions">
                        <a href="/netcat/modules/auth/password_recovery.php" data-mfp-src="#recovery" class="tpl-link-modal tpl-block-ibtn">Забыли пароль?</a>
                        <span class="tpl-block-ibtn tpl-block-ibtn--theme_blue">Войти<input type="submit" class="tpl-block-ibtn-submit" value=""></span>
                    </div>

                    <input type='hidden' name='AuthPhase' value='1'/>
                    <input type='hidden' name='REQUESTED_FROM' value='<?= htmlspecialchars($REQUESTED_FROM, ENT_QUOTES) ?>'/>
                    <input type='hidden' name='REQUESTED_BY' value='<?= htmlspecialchars($REQUESTED_BY, ENT_QUOTES) ?>'/>
                    <input type='hidden' name='catalogue' value='<?= $catalogue ?>'/>
                    <input type='hidden' name='sub' value='<?= $sub ?>'/>
                    <input type='hidden' name='cc' value='<?= $cc ?>'/>
                </form>

                <form class="tpl-block-authpopup tpl-block-mfp-hide tpl-block-popup" action='<?= $nc_core->SUB_FOLDER ?>/netcat/add.php' method="post" id='signup'>
                    <div class="tpl-block-authpopup-title">Регистриция</div>
                    <? if ($warnText): ?>
                        <div class="tpl-error"><?= $warnText ?></div><? endif ?>
                    <p>
                        <input name="f_ForumName" id="f_ForumName" value="<?= htmlspecialchars($f_ForumName) ?>" type="text" placeholder="Имя" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="f_Login" id="f_Login" value="<?= htmlspecialchars($f_Login) ?>" type="text" placeholder="Логин*" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="f_Email" id="f_Email" value="<?= htmlspecialchars($f_Email) ?>" type="text" placeholder="E-mail*" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="Password1" id="Password1" type="password" placeholder="Пароль*" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="Password2" id="Password2" type="password" placeholder="Повторите пароль*" class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <div class="tpl-block-authpopup-actions">
                        <span class="tpl-block-ibtn tpl-block-ibtn--theme_blue">Зарегистрироваться <input type="submit" class="tpl-block-ibtn-submit" value=""></span>
                    </div>

                    <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>'/>
                    <input name='catalogue' type='hidden' value='<?= $catalogue ?>'/>
                    <input name='cc' type='hidden' value='372'/>
                    <input name='sub' type='hidden' value='257'/>
                    <input name='posting' type='hidden' value='1'/>
                    <input name='curPos' type='hidden' value='0'/>
                </form>

                <form class="tpl-block-authpopup tpl-block-mfp-hide tpl-block-popup" method="post" action="<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>modules/auth/password_recovery.php" id="recovery">
                    <div class="tpl-block-authpopup-title">Восстановление пароля</div>

                    <p>
                        <input name="Login" type="text" placeholder="<?= NETCAT_MODULE_AUTH_LOGIN ?>" value='<?= htmlspecialchars($AUTH_USER, ENT_QUOTES) ?>' class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <input name="Email" type="text" placeholder="<?= NETCAT_MODULE_AUTH_PRF_EMAIL ?>" value='<?= htmlspecialchars($Email, ENT_QUOTES) ?>' class="tpl-block-itext tpl-block-itext--style_dull">
                    </p>

                    <p>
                        <? if ($ADMIN_AUTHTYPE == "manual" && $AUTHORIZATION_TYPE == "cookie") : ?>
                            <label><input type='checkbox' name='loginsave'/> <?= NETCAT_MODULE_AUTH_SAVE ?></label>
                        <? endif; ?>
                    </p>

                    <div class="tpl-block-authpopup-actions">
                            <span class="tpl-block-ibtn tpl-block-ibtn--theme_blue"><?= NETCAT_MODULE_AUTH_PRF_DOBUTT ?>
                                <input type="submit" class="tpl-block-ibtn-submit" value=""></span>
                    </div>

                    <input type='hidden' name='catalogue' value='<?= $catalogue ?>'/>
                    <input type='hidden' name='sub' value='<?= $sub ?>'/>
                    <input type='hidden' name='cc' value='<?= $cc ?>'/>
                    <input type='hidden' name='post' value='1'/>
                </form>
            <? endif ?>
        </div>
    </div>
</div>
<div class="tpl-block-sep"></div>
<div class="tpl-block-header-row">
    <div class="tpl-block-header-col tpl-block-header-col--1">
        <!-- Логотип-->
        <a href="<?= $nc_core->SUB_FOLDER . '/'; ?>">
            <div class="tpl-block-headerlogo tpl-state-current">
                <img src="<?= $current_catalogue['logo_header']; ?>" width="217" height="61">
            </div>
        </a>
    </div>
    <div class="tpl-block-header-col tpl-block-header-col--2">
        <!-- Контакты-->
        <div class="tpl-block-headercontact">
            <div class="tpl-field-title"><?= $current_catalogue['Phone_1']; ?></div>
            <div class="tpl-field-description">Бесплатная доставка<br>в течение 3 дней</div>
        </div>
    </div>
    <div class="tpl-block-header-col tpl-block-header-col--3">
        <!-- Контакты-->
        <div class="tpl-block-headercontact">
            <div class="tpl-field-title"><?= $current_catalogue['Phone_2']; ?></div>
            <div class="tpl-field-description">Консультации<br>по общим вопросам</div>
        </div>
    </div>
    <div class="tpl-block-header-col tpl-block-header-col--4">
        <!-- Корзина--><a class="tpl-block-headercart" href="<?= $nc_core->SUB_FOLDER; ?>/cart/">
            <div class="tpl-field-image"><i class="icon-cart-blue"></i></div>
            <div class="tpl-field-title">Корзина товаров</div>
            <div class="tpl-field-description">
                <? if ($total_items) { ?>
                    В корзине
                    <span class="tpl-field-amount"><?= $total_items; ?> <?= plural_form($total_items, 'товар', 'товара', 'товаров'); ?></span>
                    <br>на сумму
                    <? $totals = $netshop->cart->get_totals(); ?>
                    <span class="<?= $totals ? 'tpl-field-summary' : ''; ?>"><?= $netshop->format_price($totals); ?></span>
                <? } else { ?>
                    Корзина пуста
                <? } ?>
            </div>
        </a>
    </div>
</div>
<div class="tpl-block-sep"></div>
<div class="tpl-block-header-row">
    <div class="tpl-block-header-col tpl-block-header-col--menu">
        <!-- Навигация-->
        <?= nc_browse_sub(0, $browse_top_menu); ?>
    </div>
    <div class="tpl-block-header-col tpl-block-header-col--search">
        <!-- Поиск-->
        <form class="tpl-block-headersearch tpl-component-search" action="/search/">
            <input type="hidden" name="area" value="site<?=$catalogue ?>">
            <!-- Категории-->
            <div class="tpl-block-headersearch-category">
                <select class="tpl-block-iselect tpl-block-iselect--theme_red" disabled="disabled">
                    <option selected="selected">Все товары</option>
                    <option>Ноутбуки</option>
                    <option>Средства связи</option>
                    <option>Настольные ПК</option>
                    <option>Спортивные товары</option>
                    <option>Обувь</option>
                    <option>Верхняя одежда</option>
                    <option>Пельмени</option>
                </select>
            </div>
            <div class="tpl-block-headersearch-input">
                <input type="text" name="search_query" class="tpl-block-itext" placeholder="Поиск"><span class="tpl-block-ibtnimage"><i class="icon-search"></i>
                <input type="submit" class="tpl-block-ibtnimage-submit" value=""></span>
            </div>
        </form>
    </div>
</div>
</div>
</header>
<!-- content -->