min = 'only screen and (max-device-width: 760px)'
max = 'only screen and (min-width: 1850px)'

fontFamily = Roboto, Arial, sans-serif
fontSize   = 14px
fontSizeMobile = 21px
lineHeight = 2.15
fontWeight = 300

bgColor    = #ffffff

colorBase  = #000000
colorGray  = #7d7d7d
colorBlue  = #102889
colorRed   = #fd4c41
colorWhite = #ffffff
colorDull  = #E1E6EA
colorGreen = #2DB189
