//import_tree('./blocks')
@import './blocks/*'

.tpl-state-disable-hover,
.tpl-state-disable-hover *
  pointer-events: none !important

.tpl-block-popup
  position: relative
  background: #FFF
  padding: 60px 100px
  width: 970px
  margin: 0 auto

.tpl-block-clearfix
  clear: both


