/*! 2014-01-30, 2:11:39 PM */
body {
  font: 300 normal 14px/2.15 Roboto, Arial, sans-serif;
  color: #000;
  background: #fff;
  font-smoothing: subpixel-antialiased;
}

@media only screen and (max-device-width: 760px) {
  body {
    font-size: 21px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
blockquote,
ul,
ol {
  margin: 0 0 0.7em;
  padding: 0;
}

ul,
ol {
  padding-left: 15px;
  list-style-position: outside;
  list-style-type: none;
}

ul li,
ol li {
  margin-bottom: 0.4em;
}

ul li.dashed:before,
ol li.dashed:before {
  content: '—';
  position: absolute;
  margin-left: -15px;
}

ul.is-clean,
ol.is-clean,
ul.is-clean li,
ol.is-clean li {
  padding: 0;
  margin: 0;
}

ul.is-clean:before,
ol.is-clean:before,
ul.is-clean li:before,
ol.is-clean li:before {
  display: none;
}

img {
  border: 0;
}

a,
.tpl-link {
  color: #102889;
  text-decoration: underline;
  outline: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-tap-highlight-color: transparent;
}

a:hover,
.tpl-link:hover {
  color: #fd4c41;
}

@media only screen and (max-device-width: 760px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:hover {
  background: #f9f9f9;
}

table td {
  border: none;
  border-bottom: 1px solid #e1e6ea;
  padding: 10px 20px;
  line-height: 1.2;
}

table td:last-child {
  text-align: right;
}

table.tpl-block-table--style_clean tr:hover {
  background: transparent;
}

table.tpl-block-table--style_clean td {
  padding: 0;
  border: none;
  padding-bottom: 10px;
}

@media only screen and (max-device-width: 760px) {
  table.tpl-block-table--style_clean td {
    padding-bottom: 30px;
  }
}

.tpl-block-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

.tpl-block-title--size_xl,
h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5em;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--size_xl,
  h1,
  h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.tpl-block-title--size_l,
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--size_l,
  h2,
  h2 {
    font-size: 48px;
  }
}

.tpl-block-title--size_ml {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--size_ml {
    font-size: 40px;
  }
}

.tpl-block-title--size_m,
h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--size_m,
  h3,
  h3 {
    font-weight: 300;
    font-size: 36px;
    text-transform: none;
  }
}

.tpl-block-title--size_s,
h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--size_s,
  h4,
  h4 {
    font-size: 30px;
  }
}

.tpl-block-title--bright {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title--bright {
    font-size: 50px;
  }
}

.tpl-block-title-desc {
  font-weight: 400;
  font-size: 14px;
  position: relative;
  margin-top: 0.7em;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-title-desc {
    font-size: 28px;
    font-weight: 300;
  }
}

.tpl-block-ichlabel {
  line-height: 1.2;
  display: block;
  padding-left: 21px;
  text-indent: -23px;
}

.tpl-block-ichlabel-desc {
  display: block;
  font-size: 12px;
  margin: 20px 0 0;
  line-height: 1.6;
  font-weight: 300;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-ichlabel {
    padding-left: 33px;
    text-indent: -30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.tpl-block-itextlabel {
  display: block;
  padding-left: 160px;
  display: block;
  position: relative;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-itextlabel {
    height: auto;
    padding-left: 0;
  }

  .tpl-block-itextlabel input {
    width: 100% !important;
  }
}

.tpl-block-itextlabel-title {
  display: inline-block;
  float: left;
  position: relative;
  margin-right: -100%;
  left: -160px;
  width: 160px;
  padding: 7px 0;
  line-height: 1.9;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-itextlabel-title {
    display: block;
    float: none;
    margin-right: 0;
    left: auto;
    width: auto;
    padding: 0;
    padding-left: 35px;
    font-weight: 300;
    color: #7d7d7d;
  }
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  width: 19px;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  position: relative;
  top: -1px;
}

@media only screen and (max-device-width: 760px) {
  input[type="radio"],
  input[type="checkbox"] {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    width: 23px;
    top: -4px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
textarea,
.tpl-block-itext {
  font: normal 300 14px/1.9 Roboto, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 7px 15px;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus,
.tpl-block-itext:focus {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

input[type="text"].tpl-block-itext--style_dull,
input[type="password"].tpl-block-itext--style_dull,
input[type="number"].tpl-block-itext--style_dull,
input[type="search"].tpl-block-itext--style_dull,
input[type="number"].tpl-block-itext--style_dull,
input[type="email"].tpl-block-itext--style_dull,
input[type="url"].tpl-block-itext--style_dull,
input[type="search"].tpl-block-itext--style_dull,
input[type="tel"].tpl-block-itext--style_dull,
textarea.tpl-block-itext--style_dull,
.tpl-block-itext.tpl-block-itext--style_dull {
  background: #eaeff2;
}

@media only screen and (max-device-width: 760px) {
  input[type="text"].tpl-block-itext--style_dull,
  input[type="password"].tpl-block-itext--style_dull,
  input[type="number"].tpl-block-itext--style_dull,
  input[type="search"].tpl-block-itext--style_dull,
  input[type="number"].tpl-block-itext--style_dull,
  input[type="email"].tpl-block-itext--style_dull,
  input[type="url"].tpl-block-itext--style_dull,
  input[type="search"].tpl-block-itext--style_dull,
  input[type="tel"].tpl-block-itext--style_dull,
  textarea.tpl-block-itext--style_dull,
  .tpl-block-itext.tpl-block-itext--style_dull {
    background: transparent;
  }
}

input[type="text"].tpl-block-itext--style_dull:focus,
input[type="password"].tpl-block-itext--style_dull:focus,
input[type="number"].tpl-block-itext--style_dull:focus,
input[type="search"].tpl-block-itext--style_dull:focus,
input[type="number"].tpl-block-itext--style_dull:focus,
input[type="email"].tpl-block-itext--style_dull:focus,
input[type="url"].tpl-block-itext--style_dull:focus,
input[type="search"].tpl-block-itext--style_dull:focus,
input[type="tel"].tpl-block-itext--style_dull:focus,
textarea.tpl-block-itext--style_dull:focus,
.tpl-block-itext.tpl-block-itext--style_dull:focus {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

@media only screen and (max-device-width: 760px) {
  input[type="text"].tpl-block-itext--style_dull:focus,
  input[type="password"].tpl-block-itext--style_dull:focus,
  input[type="number"].tpl-block-itext--style_dull:focus,
  input[type="search"].tpl-block-itext--style_dull:focus,
  input[type="number"].tpl-block-itext--style_dull:focus,
  input[type="email"].tpl-block-itext--style_dull:focus,
  input[type="url"].tpl-block-itext--style_dull:focus,
  input[type="search"].tpl-block-itext--style_dull:focus,
  input[type="tel"].tpl-block-itext--style_dull:focus,
  textarea.tpl-block-itext--style_dull:focus,
  .tpl-block-itext.tpl-block-itext--style_dull:focus {
    box-shadow: none;
  }
}

@media only screen and (max-device-width: 760px) {
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  textarea,
  .tpl-block-itext {
    font-size: 32px;
    line-height: 41px;
    padding: 21px 35px;
    border-top: 1px solid #d2d7db;
    border-bottom: 1px solid #d2d7db;
    background: transparent;
    -webkit-appearance: none;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  .tpl-block-itext:focus {
    box-shadow: none;
  }
}

::-webkit-input-placeholder {
  color: #9d9c9c;
}

::-moz-placeholder {
  color: #9d9c9c;
}

:-ms-input-placeholder {
  color: #9d9c9c;
}

::placeholder {
  color: #9d9c9c;
}

.tpl-block-ibtn {
  display: inline-block;
  position: relative;
  color: #000;
  background: #eaeff2;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: background 0.2s, color 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

.tpl-block-ibtn:hover {
  background: #fd4c41;
  color: #fff;
}

@media only screen and (max-device-width: 760px) {
  .tpl-block-ibtn {
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    padding: 22px 35px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .tpl-block-ibtn:hover {
    background: inherit;
    color: inherit;
  }

  .tpl-block-ibtn:active {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
  }
}

.tpl-block-ibtn-submit {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}

.tpl-block-ibtn--block {
  display: block;
}

.tpl-block-ibtn--theme_red {
  background: #fd4c41;
  color: #fff;
}

.tpl-block-ibtn--theme_red:hover {
  background: #102889;
}

.tpl-block-ibtn--theme_blue {
  background: #102889;
  color: #fff;
}

.tpl-block-ibtn--theme_empty {
  background: transparent;
  padding: 0;
  line-height: 2.1;
  color: inherit;
}

.tpl-block-ibtn--theme_empty:hover {
  background: transparent;
  color: inherit;
}

.tpl-block-ibtn .icon-cart-white {
  margin: -3px 10px 0 -3px;
}

.tpl-block-ibtnimage {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tpl-block-ibtnimage-submit {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00f;
  border: none;
  cursor: pointer;
  opacity: 0;
}

select {
  width: 100%;
  display: block;
  opacity: 0;
}

.tpl-block-iselect {
  width: 100%;
}

.tpl-block-iselect--size_l + .chosen-container .chosen-single {
  font-size: 18px;
}

.tpl-block-iselect--size_l + .chosen-container .chosen-results li {
  font-size: 18px;
}

.chosen-container {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  width: 100%;
}

.chosen-container .chosen-single {
  height: 40px;
  padding: 0 20px;
  background: #eaeff2;
  color: #000;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  width: 100%;
}

.chosen-container .chosen-single:after {
  position: absolute;
  z-index: 20;
  font-family: fontello;
  content: '\e803';
  top: 0;
  right: 20px;
  font-size: 1.5em;
  -webkit-transition: inherit;
  transition: inherit;
}

@media only screen and (max-device-width: 760px) {
  .chosen-container .chosen-single {
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    padding: 22px 35px;
    height: 85px;
  }

  .chosen-container .chosen-single:after {
    right: 35px;
    line-height: 50px;
    top: 18px;
  }
}

.chosen-container .chosen-single span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}

.chosen-container.chosen-with-drop .chosen-single:after {
  color: #fd4c41;
  content: '\e80c';
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
  opacity: 1;
}

.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 760px) {
  .chosen-container .chosen-results {
    max-height: 600px;
  }
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 10px 20px;
  line-height: 20px;
  list-style: none;
  background: #eaeff2;
  color: #000;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

@media only screen and (max-device-width: 760px) {
  .chosen-container .chosen-results li {
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    padding: 22px 35px;
    height: 85px;
  }
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background: #1a2684;
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

.chosen-container .chosen-search {
  position: absolute;
  display: none;
}

.chosen-container .chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-container .chosen-disabled .chosen-single {
  cursor: default;
}