<? $dev_mode = "?nocache=".time(); ?>
<link href="<?=$sMisc?>css/base5.css<?=$dev_mode?>" rel="stylesheet">
<link href="<?=$sMisc?>css/style.css<?=$dev_mode?>" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.confirmon.css<?=$dev_mode?>"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery.qtip.min.css<?=$dev_mode?>"/>
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/magnific-popup.css<?=$dev_mode?>"/>   
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/clndr.css<?=$dev_mode?>"/> 
<link rel="stylesheet" type="text/css" href="<?=$sMisc?>css/jquery-ui.min.css<?=$dev_mode?>"/>
<link href="<?=$sMisc?>css/adaptive.css<?=$dev_mode?>" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.blockUI.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.confirmon.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.qtip.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/imagesloaded.pkgd.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.magnific-popup.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/velocity.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery.maskedinput.min.js<?=$dev_mode?>"></script>
    
<script type="text/javascript" src="<?=$sMisc?>js/moment.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/underscore-min.js<?=$dev_mode?>"></script>

<script type="text/javascript" src="<?=$sMisc?>js/jquery.ui.datepicker-ru.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/jquery-ui.min.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/js.cookie.js<?=$dev_mode?>"></script>
<script type="text/javascript" src="<?=$sMisc?>js/app_iframe.js<?=$dev_mode?>"></script>

<div class='iframe'>
<div style='padding:20px'>
<!-- <span class='close confirm' id='close_iframe' title='Закрыть'>x</span> -->
<div class='cart_content' id='cart_content'>
<?if($iCartCount){?>
<a href='/cart/'>В корзине</a> <?= $iCartCount; ?> <?= plural_form($iCartCount, 'товар', 'товара', 'товаров'); ?>
<br>на сумму <?=$netshop->cart->get_totals()?> руб.<br>
<a href='/order/' class='cart_content_order'>Оформить заказ</a>
<?}else{?>
Ваша корзина пуста
<?}?>
</div>

<?if(0 && $sub != 140){?>
<?=nc_browse_sub(140,$aNav)?>
<br>
<?}?>
<nav>
<?if($sub != 140 && $sub != 149){?>
<a href="" onclick='history.back();return false;'>&larr;</a>
<?}?>
<?if(!isset($_COOKIE['laying'])){?>
<a href='/care/'>Услуги</a>
<?}?>
<a href='/catalog/'>Товары для возложения</a>
</nav>
<br>
