+b.alphabet
    +jrow
      +jcol: +link('#A') A
      +jcol: +link('#B') B
      +jcol: +link('#C') C
      +jcol: +link('#D') D
      +jcol: +link('#E') E
      +jcol: +link('#F') F
      +jcol: +link('#G') G
      +jcol: +link('#H') H
      +jcol: +link('#I') I
      +jcol: +link('#J') J
      +jcol: +link('#K') K
      +jcol: +link('#L') L
      +jcol: +link('#O') O
      +jcol: +link('#M') M
      +jcol: +link('#N') N
      +jcol: +link('#P') P
      +jcol: +link('#Q') Q
      +jcol: +link('#R') R
      +jcol: +link('#S') S
      +jcol: +link('#T') T
      +jcol: +link('#U') U
      +jcol: +link('#V') V
      +jcol: +link('#W') W
      +jcol: +link('#X') X
      +jcol: +link('#Z') Z
      +jcol: А — Я
    // +jrow
      +jcol: +link('#А') А
      +jcol Б
      +jcol В
      +jcol: +link('#Г') Г
      +jcol Д
      +jcol ЕЁ
      +jcol Ж
      +jcol З
      +jcol И
      +jcol Й
      +jcol: +link('#К') К
      +jcol: +link('#Л') Л
      +jcol: +link('#М') М
      +jcol Н
      +jcol: +link('#О') О
      +jcol: +link('#П') П
      +jcol: +link('#Р') Р
      +jcol: +link('#С') С
      +jcol Т
      +jcol: +link('#У') У
      +jcol: +link('#Ф') Ф
      +jcol: +link('#Х') Х
      +jcol: +link('#Ц') Ц
      +jcol: +link('#Ч') Ч
      +jcol: +link('#Ш') Ш
      +jcol: +link('#Щ') Щ
      +jcol: +link('#Э') Э
      +jcol: +link('#Ю') Ю
      +jcol: +link('#Я') Я
