+b.banner
  style
    .tpl-block-banner {
      width: 100%;
      height: 184px;
      background: url(tmp/banner620.jpg) no-repeat 0 0
    }
    @media only screen and (min-width: 1850px) {
      .tpl-block-banner {
        width: 100%;
        height: 280px;
        background-image: url(tmp/banner940.jpg)
      }
    }