

+b.tabs
  +e.switcher
    +e.tab.tpl-state-current Подробное описание
    +e.tab Технические характеристики
    +e.tab Отзывы (15)
  // Подробное описание
  +e.wrapper
    +e.content.tpl-state-current
      +e.row
        +e.col--1
          +t('s') Цифровая зеркальная фотокамера
          p.
            Полупрофессиональная зеркальная цифровая фотокамера Nikon D90
          p.
            Kit 18-105 VR использует для формирования изображения CMOS-матрицу
            с разрешением 12,3 Мп и функцией очистки от пыли, что в сочетании
            с возможностью программного исправления дефектов снимков
            (с помощью ПО Capture NX 2), возникающих из-за загрязнения,
            и мощным и производительным процессором EXPEED гарантирует получение
            высококачественных, четких фотографий. Светочувствительность изменяется
            в диапазоне ISO 200-3200 в стандартном режиме. Максимальная скорость
            серийной съемки составляет 4,5 кадра/сек.
        +e.col--2
          +t('s') Широкие возможности
          p.
            Зеркальный фотоаппарат Nikon D90 Kit 18-105 VR оснащен системой
            автоматической фокусировки Nikon Multi-CAM 1000 с 11 датчиками.
            Также модель предложит пользователю возможность видеосъемки
            с максимальная частотой 24 кадр/сек. Просматривать полученный
            материал можно на 3-дюймовом TFT-дисплее с широкими углами обзора
            либо на большом экране высокой четкости благодаря наличию
            у фотокамеры HDMI-разъема, а хранить его — на картах памяти
            формата SD.

    // Технические характеристики
    +e.content
      +e.row
        +e.col--1
          table
            tr
              td Разрешение матрицы (Мп)
              td 12.3
            tr
              td Разрешение матрицы (точек)
              td 4288 x 2848
            tr
              td Физический размер матрицы
              td 23.6 x 15.8 мм
            tr
              td Скорость съемки (кадр/сек)
              td 12.3
            tr
              td Максимальная чувствительность ISO
              td 12.3
            tr
              td Диапазон выдержки
              td неограничено-1/4000
            tr
              td Максимальное разрешение видеозаписи (точек)<br>вторая строка
              td 12.3
            tr
              td Частота кадров видеозаписи
              td 12.3
        +e.col--2
          table
            tr
              td Видеовыход
              td mini-HDMI, AV
            tr
              td Подключение внешней вспышки
              td 12.3
            tr
              td Тип аккумулятора
              td 12.3
            tr
              td Диагональ дисплея (дюйм)
              td 12.3
            tr
              td Байонет
              td Nikon F
            tr
              td Оптический зум
              td 12.3
            tr
              td Диаметр резьбы светофильтра
              td 12.3
      +sep('s')
      +b('span').pseudolink.tpl-link-more Ещё характеристики

    // Отзывы
    +e.content
      +t('xl') Добрый вечер