
// Краткое Описание
+b.cardshortdesc
  +t('l') Описание Nikon D90 <nobr>KIT 18-105mm</nobr>
  +sep('sm')
  p.
    Технологии передовых цифровых зеркальных фотокамер Nikon, объединенные в фотокамере Nikon D90, в сочетании с широким набором усовершенствованных функций позволяют получать великолепные снимки. КМОП-матрица формата DX
    с разрешением 12.3 эффективных мегапикселей
    и система обработки изображения EXPEED обеспечивают непревзойденное качество изображений в широком диапазоне
    чувствительности ISO.
  +sep('sm')
  p: +link.tpl-link-more Подробное описание
  +sep('sm')
  +b.cardactions
    +e('span').item
      +e('span').image: i.icon-flag-black
      +e('span').title В избранное
    +e('span').item
      +e('span').image: i.icon-down-black
      +e('span').title Сравнить