// Раскладка
+b.cardlayout
  // Рейтинг, соцкнопки, подменю
  +e.row
    +e.col--rating
      include rating
    +e.col--social
      include socialButtons
    +e.col--submenu
      include iconTextMenu
  +sep
  // Галерея, инфоблок, описание
  +e.row
    +e.col--gallery
      include gallery
    +e.col--info
      include cardInfo
    +e.col--shortDesc
      include cardShortDesc