// Галерея
+b.gallery
  +link('tmp/large-1.jpg'): img(src='tmp/small-1.jpg')
  +link('tmp/large-2.jpg'): img(src='tmp/small-2.jpg')
  +link('tmp/large-3.jpg'): img(src='tmp/small-3.jpg')
  +link('tmp/large-4.jpg'): img(src='tmp/small-4.jpg')
  +link('tmp/large-5.jpg'): img(src='tmp/small-5.jpg')
  +link('tmp/large-6.jpg'): img(src='tmp/small-6.jpg')
  +link('tmp/large-7.jpg'): img(src='tmp/small-7.jpg')
  +link('tmp/large-8.jpg'): img(src='tmp/small-8.jpg')
  +link('tmp/large-9.jpg'): img(src='tmp/small-9.jpg')
  +link('tmp/large-10.jpg'): img(src='tmp/small-10.jpg')