// Меню с иконками
+b.icontextmenu
  +elink.item
    .tpl-field-image: i.icon-bluecheck
    .tpl-field-title Гарантия<br>качества
  +elink.item
    .tpl-field-image: i.icon-bluetruck
    .tpl-field-title Бесплатная<br>доставка
  +elink.item
    .tpl-field-image: i.icon-bluecards
    .tpl-field-title Купить<br>в кредит
  +elink.item
    .tpl-field-image: i.icon-bluepin
    .tpl-field-title Пункты<br>самовывоза