// Отдельная новость
+b.newsbox
  .tpl-field-date 27 декабря 2013
  +link.tpl-field-title Распродажа фототехники модельного ряда 2013
  .tpl-field-text
    | This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.  
    +link.tpl-link-more more.