+b.newslist
  +e.title
    +link.tpl-link-more все новости
    .tpl-block-title.tpl-block-title--size_l.tpl-block-title--bright.color-red Новости
  - for(i=1; i<=4; i++)
    +e.item
      include newsBox